<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />

	
	<link href="{{request.static_url('armycommander:static/css/normalize.css')}}" rel="stylesheet">
        <link href="{{request.static_url('armycommander:static/css/allsettings.css')}}" rel="stylesheet">


	<title>Summer Game | Guide</title>
</head>
<body>


{% if username=="admino" %}  
    <label >{{username}}</label>
    <a style="float: right;" href="logout">Sign out</a>
    
{% else %}
    <a style="float: right;" href="login">Sign in</a>
{% endif %}

		<header >
		<img src="{{request.static_url('armycommander:static/image/headerPic.jpg')}}">
		<ul>
		    <li><a href="home">Главная</a></li>
		    <li><a href="guide" class="selected">Гайд</a></li>
		    <li><a href="map">Карты</a></li>
		    <li><a href="rating">Рейтинг</a></li>
		    <li><a href="workwithdatabase">Добавление данных</a></li>
		</ul>
	</header>

	<div>
		<div class="leftMenu"> 
			<ul>
			    <li><a href="#units">Юниты</a></li>
			    <li><a href="#lands">Местность</a></li>
			    <li><a href="#strategies">Ведение боя</a></li>
			</ul>
		</div>

		<div class="content">
			<div class="leftContent"> 
				<img class="newsImg" src="{{request.static_url('armycommander:static/image/newsPic.jpg')}}" align="left" />
				<div>
					<h1 id="units">Юниты</h1>
					<p>Unit’ы обозначены по системе условного обозначения войск НАТО. Объекты активного игрока обозначены красным цветом. Реализована анимация во время атаки. Выделение unit’ов показывается границей зеленого цвета вокруг объекта.</p>
<p>
Под unit'ом указывается (в процентах) численность отряда и боеприпасы. Справа от unit'а указывается номер роты/батальона, к которым он принадлежит.</p>
<p>
С помощью левой кнопки мыши делается выбор unit’а на карте. Выбирается место на карте, куда перемещается unit (тоже ЛКМ). Либо выбирается группа из unit’ов и аналогично перемещается. </p>
<p>
Выбранная цель перемещения unit’а помечается крестиком, а траектория до цели отображается в виде пунктирной линии. Unit не может пройти по карте расстояние, превышающее путь, на который уходит единица игрового времени, поэтому на крестике цели показывается приблизительное количество ходов, за которое unit доберётся до места назначения.</p>
<p>
Unit противника атакуется следующим образом: выбирается дружественный войско, который будет атаковать, затем выбирается атакуемый unit противника (ЛКМ). Если unit'ы находятся достаточно близко друг к другу, будет произведена атака, которая отобразится при помощи анимации.
Unit’ы в игре отображаются в зависимости от типа и принадлежности стороне игрока: по умолчанию дружественные unit'ы отмечены красным цветом, unit'ы противника - синим. При щелчке правой кнопкой мыши на объекте показывается окно с его свойствами.</p>
				</div>
			</div>			
					
				<hr noshade />

				<div class="leftContent"> 
				<img class="newsImg" src="{{request.static_url('armycommander:static/image/newsPic.jpg')}}" align="left" />
				<div>
					<h1 id="lands">Местность</h1>
					<p>Стиль для ландшафтов/местностей задается в зависимости от их типов. Ландшафты, в свою очередь, представляют собой набор фигур, для которых также заданы стили в зависимости от типа фигуры. Каждый тип ландшафта может быть представлен фигурами: многоугольник, ломаная, круг, отрезок, точка. </p>
<p>
Скорость движения войска меняется в зависимости от местности, по которой он передвигается. Коэффициенты скорости для каждой местности указаны в таблице. Единица означает максимальную скорость войска.
</p>
				</div>
			</div>
				
			<hr noshade />

			<div class="rightContent"> 
				<img class="newsImg" src="{{request.static_url('armycommander:static/image/newsPic.jpg')}}" align="right" />
				<div>
					<h1 id="strategies">Ведение боя</h1>
					<p>Войска могут нападать на войска противника. Для атаки нужно выбрать войско, который будет нападать и войско противника, на которое будет произведено нападение. Однако нельзя напасть на войско, которое находится слишком далеко. Поэтому для атаки войска противника несколькими своими войсками, нужно переместить их достаточно близко. Если атака будет произведена, она отобразится анимацией.</p>
<p>Под каждым войском указывается в процентном соотношении численность и количество боеприпасов. Поэтому после атаки можно оценить потери, нанесённые противником и, в случае необходимости, отступить. </p>
<p>Для получения дополнительной информации, например, о количестве активных единиц, достаточно нажать на войско правой кнопкой мыши. 
Действия, производимые игроком, происходят после нажатия пробела или соответствующей кнопки в правой колонке. После этого ход передаётся второму игроку.</p>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="follow"> 
			<div><p>Следите за нами здесь: </p></div>
			<div>
				<a href="http://www.vk.com"><img src="{{request.static_url('armycommander:static/image/vkr48.png')}}"></a>
				<a href="http://www.facebook.com"><img src="{{request.static_url('armycommander:static/image/fbr48.png')}}"></a>
				<a href="http://www.twitter.com"><img src="{{request.static_url('armycommander:static/image/tr48.png')}}"></a>
				<a href="http://www.google.com"><img src="{{request.static_url('armycommander:static/image/gpr48.png')}}"></a>
			</div>
		</div>
		<p>© 2015 Зуева Галина</p>
	</footer>



</body>
</html>
