<!DOCTYPE html>
<html lang="ru">


<link href="{{request.static_url('armycommander:static/css/login.css')}}" rel="stylesheet">

<form class="form-1">
    <p class="field">
        <input type="text" name="login" placeholder="login">
        
    </p>
        <p class="field">
        <input type="password" name="password" value="00000000" placeholder="Пароль">
        
    </p>      
    <p class="submit">
        <input type="submit" name="submitted" value="Sign in"></button>
    </p>
<p>
    <label>
	{{message}}
    </label>
</p>
</form>

<html lang="ru">
