<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />

	<link href="{{request.static_url('armycommander:static/css/normalize.css')}}" rel="stylesheet">
	<link href="{{request.static_url('armycommander:static/css/allsettings.css')}}" rel="stylesheet">

	<title>Summer Game | Map</title>
</head>
<body>


{% if username=="admino" %}  
    <label >{{username}}</label>
    <a style="float: right;" href="logout">Sign out</a>
    
{% else %}
    <a style="float: right;" href="login">Sign in</a>
{% endif %}

	<header >
		<img src="{{request.static_url('armycommander:static/image/headerPic.jpg')}}">
		<ul>
		    <li><a href="home">Главная</a></li>
		    <li><a href="guide">Гайд</a></li>
		    <li class="selected"><a href="map">Карты</a></li>
		    <li><a href="rating">Рейтинг</a></li>
		    <li><a href="workwithdatabase">Добавление данных</a></li>
		</ul>
	</header>

<div class="content">
	<table width="100%" >
		<tr>
		<td align="right" margin="20px"><label>Khalhin-Gol</label></td>
		
		<td align="center">
			<image style="height:100px" onclick="this.style.height='1024px'" onmouseout="this.style.height='100px'"  src="{{request.static_url('armycommander:static/image/Khalhin-Gol.jpg')}}"/>
		</td>
		</tr>

		<tr>
		<td align="right" margin="20px"><label>Berlin</label></td>
		
		<td  align="center">
			<image style="height:100px" onclick="this.style.height='1024px'" onmouseout="this.style.height='100px'"  src="{{request.static_url('armycommander:static/image/Berlin.jpg')}}"/>
		</td>
		</tr>
		<tr>
		<td align="right" margin="20px"><label>Central Russia 1941-1942</label></td>
		
		<td align="center">
			<image style="height:100px" onclick="this.style.height='1024px'" onmouseout="this.style.height='100px'"  src="{{request.static_url('armycommander:static/image/Central_Russia1941-42.jpg')}}"/>
		</td>
		</tr>
		<tr>
		<td align="right" margin="20px"><label>Kaliningrad Oblast</label></td>
		
		<td align="center">
			<image style="height:100px" onclick="this.style.height='1024px'" onmouseout="this.style.height='100px'"  src="{{request.static_url('armycommander:static/image/Kaliningrad_oblast.jpg')}}"/>
		</td>
		</tr>
		<tr>
		<td align="right" margin="20px"><label>Stalingrad</label></td>
		
		<td align="center">
			<image style="height:100px" onclick="this.style.height='1024px'" onmouseout="this.style.height='100px'"  src="{{request.static_url('armycommander:static/image/Stalingrad.jpg')}}"/>
		</td>
		</tr>
	</table>
</div>


	<footer>
		<div class="follow"> 
			<div><p>Следите за нами здесь: </p></div>
			<div>
				<a href="http://www.vk.com"><img src="{{request.static_url('armycommander:static/image/vkr48.png')}}"></a>
				<a href="http://www.facebook.com"><img src="{{request.static_url('armycommander:static/image/fbr48.png')}}"></a>
				<a href="http://www.twitter.com"><img src="{{request.static_url('armycommander:static/image/tr48.png')}}"></a>
				<a href="http://www.google.com"><img src="{{request.static_url('armycommander:static/image/gpr48.png')}}"></a>
			</div>
		</div>
		<p>© 2015 Зуева Галина</p>
	</footer>



</body>
</html>
